

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5c7eb0;
}


.navbar {
    background: #1E5A8A;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}



h2 {
    margin: 20px;
    color: #1E5A8A;
}



table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}



thead {
    background: #1E5A8A;
    color: white;
}

thead th {
    padding: 12px;
    text-align: left;
}



tbody td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


tbody tr:hover {
    background-color: #eef4fa;
}



a {
    color: #1E5A8A;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



.status-approved {
    color: green;
    font-weight: bold;
}

.status-rejected {
    color: red;
    font-weight: bold;
}

.status-pending {
    color: rgb(19, 194, 43);
    font-weight: bold;
}



.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.login-page {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1E5A8A, #5c7eb0);
}


.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}


.login-container h2 {
    margin-bottom: 20px;
    color: #1E5A8A;
}


.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.login-container button {
    width: 100%;
    padding: 10px;
    background: #1E5A8A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #163f63;
}


.error {
    color: red;
    margin-top: 10px;
}